<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Course Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Notes</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="tuto.html">Physics Practicals</a></li>
        </ul>
      </nav>
    </header>
    <main>
      
    </main>
    <footer>
      <p>&copy; 2021 sr</p>
    </footer>
  </body>
</html>
